body {
    padding-top: 100px; /* Espaço para compensar a altura da navbar fixa */
    min-height: 100%;
    margin: 0;
}

.nav-item a {
    font-size: 1.25rem; /* Tamanho ajustado */
    font-weight: 500;
}

main {
    padding: 20px 10vw;
    min-height: 80vh;
    margin: 0;
    font-family: Arial, sans-serif;  
}

footer {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
    margin: auto;
}

.footer-icon {
    font-size: 2rem;
    color: white;
    transition: color 0.3s;
}

.footer-icon:hover {
    color: #007bff;
}
